@font-face {
    font-family: "Stretch Pro";
    src: url(../font/StretchPro.otf) format("opentype");
}

@font-face {
    font-family: "Angora";
    src: url(../font/Angora-1G3BB.otf) format("opentype");
}

:root {
    /* General var */
    --pfp-size-small: 64px;
    --pfp-size-normal: 128px;
    --pfp-size-big: 256px;

    --font-color: rgb(255, 255, 255);

    --font-family: "consolas", sans-serif;
    --font-family-special: "Stretch Pro", sans-serif;

    --font-size-x-small: 0.85rem;
    --font-size-small: 0.9rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.5rem;
    --font-size-x-large: 1.8rem;

    --border-color: rgb(20, 100, 225);
    --border-size-top: 30px;
    --border-size-around: 5px;

    /* Application Default Style */
    --application-icon-size: 80px;
    --application-icon-image-size: 64px;
    --application-icon-font-size: 16px;
    --application-icon-background-hover: rgb(50, 146, 225, 0.5);

    --application-background-color: rgba(0, 0, 0, 0.8);
    --application-background-blur: blur(4px);

    /* Desktop */
    --desktop-font-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);

    overflow: hidden;

    height: 100vh;

    padding: 0;
    margin: 0;

    background-color: black;
    background-image: url(../img/ferret_background.jpg);
    background-size: cover;

    h1,
    h2 {
        padding: 0;
        margin: 0;
    }

    ul,
    li {
        margin: 0;
    }

    hr {
        border-color: var(--font-color);
        box-shadow: none;
    }

    a {
        text-decoration: none;
        color: white;

        :visited {
            color: white
        }
    }

    /* Scrollbar styling */
    ::-webkit-scrollbar {
        width: 4px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--border-color);
        /* border-radius: 5px; */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--border-color);
    }

    /* Add this to remove the white corner */
    ::-webkit-scrollbar-corner {
        background: transparent;
    }

    /* Image Display */
    .svg {
        aspect-ratio: 1;
        height: var(--font-size-large);
        /* Make SVG White */
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }

    img {
        -webkit-user-drag: none;
        /* user-drag: none; */
        -webkit-user-select: none;
        user-select: none;
    }

    /* App Icon Default Style */
    .app {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        z-index: 0;

        width: var(--application-icon-size);

        -webkit-user-select: none;
        user-select: none;

        padding: 8px;
        gap: 6px;

        position: absolute;

        .app_icon {
            aspect-ratio: 1;
            height: var(--application-icon-image-size);

            border-radius: 16px;
            box-shadow: 0 0 12px black;
        }

        .app_name {
            flex: 1;

            padding: 0;
            margin: 0;

            width: var(--application-icon-size);

            font-family: var(--font-family);
            font-size: var(--application-icon-font-size);
            text-align: center;
            text-shadow: 0 0 6px black;
            word-wrap: break-word;

            color: var(--desktop-font-color);

        }
    }

    .app:hover {
        background-color: var(--application-icon-background-hover);
    }

    .selected {
        outline: 2px solid var(--border-color);
    }

    /* App Windows Default Style */
    [id]:not(#Topbar_Container *) {
        display: flex;
        flex-direction: column;


        [class$="_header"] {
            display: flex;
            justify-content: space-between;
            align-items: center;

            overflow: hidden;
            text-wrap: nowrap;

            font-weight: 800;

            margin: 0;
            padding: 8px 5px;

            /* Act like a border for the content */
            height: 30px;
            border-bottom: 1px solid var(--border-color);
            background-color: var(--border-color);
            backdrop-filter: unset;

            * {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        [class$="_main"] {
            flex: 1;
            position: relative;

            border: var(--border-size-around) var(--border-color) solid;
            border-top: none;

            background-color: var(--application-background-color);

            backdrop-filter: var(--application-background-blur);
        }
    }
}