.Introduction_Icon,
#Introduction_Container {
    /* Icon Position */
    --icon-position-top: 25%;
    --icon-position-left: 1%;

    /* Windows Size */
    --window-size-width: 700px;
    --window-size-height: auto;
    --window-aspect-ratio: 4/1;

    /* Windows Position */
    --window-position-top: 25%;
    --window-position-left: 30%;

    /* Introduction Application, this will overwrite the default beheavior */
    /* --application-icon-size: 64px;
    --application-icon-image-size: 64px;
    --application-icon-font-size: 16px;

    --application-icon-background-hover: rgb(50, 146, 225, 0.5);
    --application-background-color: rgba(0, 0, 0, 0.8);
    --application-background-blur: blur(2px); */
}


/* Introduction Icon */
.Introduction_Icon {
    top: var(--icon-position-top);
    left: var(--icon-position-left);
}


/* Introduction Windows */
#Introduction {
    /* Custom Width and Height for the app */
    width: var(--window-size-width);
    height: var(--window-size-height);
    /* aspect-ratio: var(--window-aspect-ratio); */
    color: var(--font-color);

    /* Custom Position for the app on the desktop  */
    position: absolute;
    top: var(--window-position-top);
    left: var(--window-position-top);

    /* This will break the screen limit of the desktop but this will stay here for... idk development purpose :) */
    /* transform: translate(-50%, -50%);  */


    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.7);

    /* Custom Header if you want to style it */
    .Introduction_header {
        margin: 0;
        padding: 0 5px;

        * {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    /* This is where you're edit your style inside the content */
    .Introduction_main {
        padding: 1em;

        .container_pfp {
            display: flex;
            flex-direction: column;
            align-items: center;

            font-size: var(--font-size-large);

            .profile_picture {
                width: var(--pfp-size-normal);
                aspect-ratio: 1/1;

                margin: 8px 0;

                border-radius: 100%;
            }
        }


        .container_paragraph {
            font-size: var(--font-size-medium);

            padding: 4px;
        }

        .container_links {
            display: flex;
            justify-content: space-between;

            font-size: var(--font-size-small);

            padding: 8px 0 8px 0;

            a {
                padding: 4px;
                border: 2px dashed var(--border-color);
            }
        }
    }
}