

/* Introduction Icon */
#Introduction_Icon {
    top: 25%;
    left: 22%;
}


/* Introduction */
#Introduction {
    width: 700px;
    aspect-ratio: 4/1;
    color: var(--font-color);

    position: absolute;
    top: 25%;
    left: 60%;
    /* transform: translate(-50%, -50%); */


    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.7);

    .Introduction_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 0;
        padding: 0 5px;

        /* Act like a border for the content */
        height: var(--border-size-top);
        border-bottom: 1px solid var(--border-color);
        background-color: var(--border-color);
        backdrop-filter: unset;

        * {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .container_content {
        padding: 1em;

        border: var(--border-size-around) var(--border-color) solid;
        border-top: none;

        background-color: var(--application-background-color);

        backdrop-filter: var(--application-background-blur);


        .container_paragraph {
            font-size: var(--font-size-medium);

            padding: 4px;
        }

        .container_pfp {
            display: flex;
            flex-direction: column;
            align-items: center;

            font-size: var(--font-size-large);

            .profile_picture {
                width: var(--pfp-size-normal);
                aspect-ratio: 1/1;

                margin: 8px 0;

                border-radius: 100%;
            }
        }

        .container_links {
            display: flex;
            justify-content: space-between;

            font-size: var(--font-size-small);

            padding: 8px 0 8px 0;

            a {
                padding: 4px;
                border: 2px dashed var(--border-color);
            }
        }
    }
}