@font-face {
    font-family: "Stretch Pro";
    src: url(../font/StretchPro.otf) format("opentype");
}

@font-face {
    font-family: "Angora";
    src: url(../font/Angora-1G3BB.otf) format("opentype");
}

body {
    box-sizing: content-box;
    font-family: var(--font-family);

    overflow: hidden;

    height: 100vh;

    padding: 0;
    margin: 0;

    background-image: url(../img/wasd-keyboard.gif);
    background-size: cover;

    h1,
    h2 {
        padding: 0;
        margin: 0;
    }

    ul,
    li {
        margin: 0;
    }

    hr {
        border-color: var(--font-color);
        box-shadow: none;
    }

    a {
        text-decoration: none;
        color: white;

        :visited {
            color: white
        }
    }

    .svg {
        aspect-ratio: 1;
        height: var(--font-size-large); 
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
        /* Makes SVG white */
    }
}


:root {
    /* General var */
    --pfp-size-small: 64px;
    --pfp-size-normal: 128px;
    --pfp-size-big: 256px;

    --font-color: rgb(255, 255, 255);
    --font-family: "consolas", sans-serif;
    --font-size-small: 1rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.5rem;

    --border-color: rgb(50, 146, 225);
    --border-size-top: 30px;
    --border-size-around: 5px;


    /* Topbar custom var */
    --topbar-background-color: rgb(0, 0, 0, 0.5);
    --topbar-background-blur: blur(10px);
    --topbar-font-family: "Stretch Pro", sans-serif;
    --topbar-font-size: var(--font-size-small);
    --topbar-btn-color: rgb(0, 0, 0, 0.7);

    /* Application */
    --application-background-color: rgba(0, 0, 0, 0.8);
    --application-background-blur: blur(2px);
    /* --application-font-size: */
}


/* Topbar */
.container_topbar {
    display: flex;
    justify-content: space-between;

    padding: 0 16px;

    color: white;

    font-family: var(--topbar-font-family);

    background-color: var(--topbar-background-color);
    backdrop-filter: var(--topbar-background-blur);

    p {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;

        width: 350px;

        text-wrap-mode: nowrap;

        font-size: var(--topbar-font-size);

        cursor: pointer;
        user-select: none;

        padding: 8px;

        background-color: var(--topbar-btn-color);

        transform: translateY(0);
        transition: 0.15s ease ;
        box-shadow: 10px 8px 0 var(--border-color);
    }

    p:active {
        transform: translateY(4px);
        box-shadow: 6px 4px 5px var(--border-color);
    }

    
}

/* Introduction */
#detail_window {
    width: 700px;
    aspect-ratio: 4/1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--font-color);

    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.7);

    .detail_window_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 0;
        padding: 0 5px;

        height: var(--border-size-top);
        background-color: var(--border-color);
        backdrop-filter: unset;

        * {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .container_content {
        padding: 1em;

        border: var(--border-size-around) var(--border-color) solid;
        border-top: none;

        background-color: var(--application-background-color);

        backdrop-filter: var(--application-background-blur);


        .container_introduction {
            font-size: var(--font-size-medium);

            padding: 4px;
        }

        .container_pfp {
            display: flex;
            flex-direction: column;
            align-items: center;

            font-size: var(--font-size-large);

            .profile_picture {
                width: var(--pfp-size-normal);
                aspect-ratio: 1/1;

                margin: 8px 0;

                border-radius: 100%;
            }
        }

        .container_links {
            display: flex;
            justify-content: space-between;

            font-size: var(--font-size-small);

            padding: 8px 0 8px 0;

            a {
                padding: 4px;
                border: 2px dashed var(--border-color);
            }
        }
    }
}